
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Josefin Slab', serif; /* setting all text to same font family */
	background: #73956F;
}

header {
	position: fixed;
	background-color: #95D7AE;
	min-height: 75px;
	height: 10%;
	width: 100%;
	float: right;
	box-shadow: 0px 5px 10px #888888;
	z-index: 3;
}

header #headerTitle {
	transition: 0.2s;
	margin-left: 10px;
    margin-right: 10px;
    
}

.tweet {
	margin: 10px;
	text-align: left;
	border: 1px solid black;
	
}

#map {
	width: 100%; 
	height: 50%;
}

#markerInfo {
	 overflow: scroll;
	 height: 35%;
	 
}

table, tr, td {
	border: 1px solid black;
	width: 100%;
}

#userComments {
	overflow: scroll;
	 height: 35%;
	
}

.commentInput {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#commentField {
	height: 50px;
}

.navButton {
	position: fixed;
	padding: 0px 5px 0px 5px;
	top: 50%;
	border: 2px solid white;
	border-radius: 50px;
	background-color: #454851;
	color: white;
	font-size: 40px;	
	transition: 0.2s;
}
#leftNavButton{
	left: 0;
}
#rightNavButton{
	right: 0;
	transform: rotate(-180deg);
}

.navButton:hover {
	background-color: #73956F;
	transition: 0.2s;
}
#rightNavButton:hover{
	transform: rotate(0deg);
	
}
#leftNavButton:hover{
	transform: rotate(-180deg);
	
}

.sideBar{
	box-shadow: 5px 5px 10px #888888;
	background-color: #7BAE7F;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 this gets changed in JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.3 second transition effect to slide in the sideBar */
}

#leftSideBar{
	left: 0;
}

#rightSideBar{
	right: 0;
}

.sideBar .closebtn {
	line-height: 33px; /* to center the X */
	text-align: center;
	height: 40px;
	width: 40px;
    position: absolute;
    top: 15;
    right: 25px;
    font-size: 36px;
	transition: 0.2s;
	text-decoration: none;
	color: #454851;
	border: 1px solid #454851;
	border-radius: 50px;
}

.sideBar .closebtn:hover {
	transform: rotate(180deg);
	transition: 0.2s;
	border: 1px solid #FCEDED;
	color: #FCEDED;
}

.sideBar h1, .sideBar .projectLink p, .sideBar .projectLink{
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
	margin: 0px 15px 0px 15px;
	max-height: 25px;
	overflow:hidden;
}

.sideBar .sideBarText {
	display: none;
	transition: 0.2s;
}

.sideBar h1 {
	margin: 10px;
}

.projectLink p{
	padding: 2;
	color: #FCEDED;
}

.projectLink p:hover {
	
	padding-left: 50px;
	color: #454851;
	background-color: #FCEDED;
}

#main {
	background-color: #FCEDED;
	height: 100%;
	display: flex;
	width: 100%;
	z-index: 1;
}

#contentGrid {
	text-align: center;
	z-index: 2;
	width: 75%;
	height: 80%;
	
	background-color: #73956F;
	margin:  auto;
	vertical-align: middle;
	box-shadow: 10px 5px 10px #888888;
}

#contentGrid #contentInfo{
	font-size: 18px;
	margin: 0;
	padding 0;
}

#contentTitle {
	margin: 2.5;
	padding 0;
}

footer {
	box-shadow: 0px -5px 10px #888888;
	z-index: 2;
	background-color: #454851;
	height: 10%;
	width: 100%;
	float: right;
}

extracolor {
	background-color: #73956F;
}

iframe {
            
    height: 100%;
    width: 50%;
    float: left;
}

#loading {
    display: none;
    position: absolute;
    top: 70%;
    left: 45%;
    width: 80px;
    height: 80px;
    padding:30px 15px 0px;
    
   
   	margin:	0 0 0 -10px;
    
    z-index: 1002;
    text-align:center;

	transition: 0.2s;
}
#loader {

	width: 100px;
    height: 100px;
}

::-webkit-scrollbar { 
    display: none; 
}